### This was the logic implemented for seasons

In [16]:
def get_season(date):
    """
    Function to determine the season in Nepal based on the given date.
    Args:
        date (pd.Timestamp): A datetime object.
    Returns:
        str: The season corresponding to the date.
    """
    month = date.month
    day = date.day

    # Spring: Mid-March to Mid-May (blooming season, pre-monsoon)
    if (month == 3 and day >= 15) or (month == 4) or (month == 5 and day <= 15):
        return "Spring"  # 2 months 
    
    # Summer/Monsoon: 
    # - Early Summer (pre-monsoon heat): Mid-May to Mid-June
    # - Peak Monsoon: Mid-June to Mid-September
    elif (month == 5 and day > 15) or (month == 6 and day <= 15):
        return "Summer(Pre-Monsoon)" # 1 month
    elif (month == 6 and day > 15) or (month == 7) or (month == 8) or (month == 9 and day <= 15):
        return "Monsoon" # 3 months
    
    # Autumn: Mid-September to Mid-November (post-monsoon, harvest season)
    elif (month == 9 and day > 15) or (month == 10) or (month == 11 and day <= 15):
        return "Autumn" # 2 months
    
    # Winter: Mid-November to Mid-March (cold, dry season)
    else: # ( month == 11 and day > 15 ) or ( month == 12 ) or ( month == 1 ) or ( month == 2 )or ( month == 3 and day <15 )
        return "Winter" # 4 months

In [17]:
import pandas as pd , numpy as np, matplotlib.pyplot as plt

In [18]:
df = pd.read_csv("cleaned_data/04-before-traansformation.csv")
df

,datetime,temp,dew,humidity,sealevelpressure,precipitation,temp_EMA_3_days,humidity_lag_3_days,season_sin,season_cos,winddir_sin,winddir_cos,moisture_flux,temperature_inversion_index
0,2016-07-01,21.1,68.9,96.8,1009.1,53.1000,21.100000,87.425,-0.587785,-0.809017,0.979575,0.201078,872.370534,-0.0956
1,2016-07-02,21.7,69.0,93.9,1009.8,13.7000,21.400000,87.425,-0.587785,-0.809017,0.137445,-0.990509,118.735594,-0.0946
2,2016-07-03,23.2,69.8,88.4,1007.7,2.0000,22.300000,87.425,-0.587785,-0.809017,-0.589196,-0.807990,-666.687462,-0.0932
3,2016-07-04,23.7,69.4,84.5,1006.3,16.8000,23.000000,96.800,-0.587785,-0.809017,0.040132,-0.999194,19.668592,-0.0914
4,2016-07-05,24.3,69.9,82.7,1005.7,3.8000,23.650000,93.900,-0.587785,-0.809017,0.939693,-0.342020,885.923409,-0.0912
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3282,2025-06-26,24.8,71.6,85.9,1011.7,9.9000,24.386963,91.800,-0.587785,-0.809017,-0.644124,-0.764921,-630.764506,-0.0936
3283,2025-06-27,24.8,71.1,84.0,1010.3,18.8000,24.593482,88.400,-0.587785,-0.809017,-0.838671,-0.544639,-901.738595,-0.0926
3284,2025-06-28,24.5,70.5,84.3,1009.3,3.8000,24.546741,86.100,-0.587785,-0.809017,-0.989526,0.144356,-950.954074,-0.0920
3285,2025-06-29,23.1,71.4,94.2,1006.8,16.9672,23.823370,85.900,-0.587785,-0.809017,-0.684547,-0.728969,-1038.197832,-0.0966
3286,2025-06-30,21.7,68.1,90.7,1004.5,8.0264,22.761685,84.000,-0.587785,-0.809017,0.739631,-0.673013,228.087437,-0.0928

In [19]:
len(df[df.precipitation == 0]) #zero inflated problem

2066

In [20]:
df['datetime'] =pd.to_datetime(df['datetime'])

In [24]:
df['season'] = df['datetime'].apply(get_season)

In [28]:
df.iloc[200:205,:]

,datetime,temp,dew,humidity,sealevelpressure,precipitation,temp_EMA_3_days,humidity_lag_3_days,season_sin,season_cos,winddir_sin,winddir_cos,moisture_flux,temperature_inversion_index,season
200,2017-01-17,9.3,35.7,65.0,1019.0,0.0,8.917076,68.8,-2.449294e-16,1.0,-0.941471,-0.337095,-697.629674,-0.0528,Winter
201,2017-01-18,10.0,36.2,64.5,1022.8,0.0,9.458538,67.2,-2.449294e-16,1.0,-0.570714,0.821149,-338.661431,-0.0524,Winter
202,2017-01-19,10.5,33.8,59.1,1023.2,0.0,9.979269,65.5,-2.449294e-16,1.0,-0.604599,0.796530,-457.367138,-0.0466,Winter
203,2017-01-20,10.6,30.6,53.8,1022.0,0.0,10.289635,65.0,-2.449294e-16,1.0,0.722967,0.690882,400.625014,-0.0400,Winter
204,2017-01-21,10.8,39.0,65.6,1022.4,0.0,10.544817,64.5,-2.449294e-16,1.0,0.395546,-0.918446,179.039716,-0.0564,Winter

In [33]:
rain = df.iloc[:,[0,5,-1]]

In [34]:
rain.to_csv("datetime vs rain.csv",index=False)

In [76]:
import pandas as pd

# Load the data
spring_df = pd.read_csv("datetime vs rain.csv")

# Convert 'datetime' column to datetime format
spring_df['datetime'] = pd.to_datetime(spring_df['datetime'])

# Extract the day from the datetime column
spring_df['date'] = spring_df['datetime'].dt.day

# Filter rows for the last 1.5 months of spring (April + first half of May)
spring_df = spring_df.loc[
    (spring_df['season'] == 'Spring') &
    (
        (spring_df['datetime'].dt.month == 4) |  # April
        ((spring_df['datetime'].dt.month == 5) & (spring_df['datetime'].dt.day <= 15))  # First half of May
    )
]

# Further filter for rainy days (assuming precipitation > 0 indicates rain)
rainy_days = spring_df[spring_df['precipitation'] > 0]

# Count the number of rainy days
print("Rainy Days in the last 1.5 months of spring:", len(rainy_days))

Rainy Days in the last 1.5 months of spring: 175

In [75]:
len(spring_df)

405

In [78]:

autumn_df = pd.read_csv("datetime vs rain.csv")

autumn_df['datetime'] = pd.to_datetime(autumn_df['datetime'])

autumn_df['date'] = autumn_df['datetime'].dt.day

# Filter rows for the last 1.5 months of autumn (October + first half of November)
autumn_df = autumn_df.loc[
    (autumn_df['season'] == 'Autumn') &  
    (
        (autumn_df['datetime'].dt.month == 10) |  # October
        ((autumn_df['datetime'].dt.month == 9) & (autumn_df['datetime'].dt.day >= 15))  # First half of November
    )
]

rainy_days = autumn_df[autumn_df['precipitation'] > 0]

print("Rainy Days in the first 1.5 months of autumn:", len(rainy_days))

Rainy Days in the first 1.5 months of autumn: 131

In [ ]:
#spring-1.5, summer-1, monsson-3, autumn-0.5
rainy_days_df_1 = pd.read_csv("datetime vs rain.csv")   
rainy_days_df_1['datetime'] = pd.to_datetime(rainy_days_df_1['datetime'])

rainy_days_df_1['date'] = rainy_days_df_1['datetime'].dt.day
rainy_days_df_1 = rainy_days_df_1.loc[
    (rainy_days_df_1['season'] in ['Spring','Summer(Pre-Monsoon)','Monsoon','Autumn']) &  
    (
        (rainy_days_df_1['datetime'].dt.month == 10) |  # October
        ((rainy_days_df_1['datetime'].dt.month == 9) & (rainy_days_df_1['datetime'].dt.day >= 15))  # First half of November
    )
]

In [ ]:
def rainy_days(seasons):
    rainy_days_df